*{margin: 5px; padding: 0; box-sizing: border-box;}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
body{
    background-color: #ccf;
}

iframe{
    border: 2px solid grey;
}
p{
    margin: 20px auto;
    width: 80%;
}
aside{
    position: absolute;
    top: 20%;
    float: left;
}

nav > a{
    margin: 10px 70px;
}

nav > a:hover{
    color:#00f;
    background-color:#ccf;
}

#start{
    margin: 30px;
}

#myForm > input{
    color: purple;
    border:0 #000 solid;
    background-color:#ccf;
    display: block;
    margin: 0 auto;
}

#myForm > input:hover{
    color:#00f;
    cursor: pointer;
    background-color: #dde;
}

#submit:first-child{
    text-align: center;
    margin: 20px auto;
}

#submit{
    position: absolute;
    width: 300px;
    height: 200px;
    overflow: auto;
    margin: auto;
    top: 25%;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #99c;
    border-radius: 5px;
}

#submit > input{
    margin: 11px;
}

span{
    color: #55a;
    font-weight: bold;
}